{% extends "layout.html" %}
{% block content %}
<div class="section">
    <div class="container">
        <h2>About Chef-GPT</h2>
        <p>Welcome to Chef-GPT, your personal culinary assistant powered by AI. Simply enter the ingredients you have at
            hand, and our cooking assistant will suggest a variety of delicious recipes for you to try. Whether you're
            looking to cook a quick meal or explore new culinary territories, Chef-GPT is here to inspire your kitchen
            adventures!</p>
    </div>
</div>
{% endblock %}